@font-face {
  font-family: "iconfont"; /* Project id 2984065 */
  src: url('iconfont.woff2?t=1651804981702') format('woff2'),
       url('iconfont.woff?t=1651804981702') format('woff'),
       url('iconfont.ttf?t=1651804981702') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon {
  width: 1.5em;
  height: 1.5em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.miniIcon {
  width: 1.5em;
  height: 1.15em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.icon-duihao:before {
  content: "\eaf1";
}

.icon-meizhuang:before {
  content: "\f814";
}

.icon-jiadian:before {
  content: "\f815";
}

.icon-shuma:before {
  content: "\f816";
}

.icon-diannao:before {
  content: "\f817";
}

.icon-jiaju:before {
  content: "\f818";
}

.icon-yinliao:before {
  content: "\f819";
}

.icon-fuzhuang:before {
  content: "\f81a";
}

.icon-xiezi:before {
  content: "\f81b";
}

.icon-ershouche:before {
  content: "\f81c";
}

.icon-jiayou:before {
  content: "\f81d";
}

.icon-huiyuan:before {
  content: "\f81e";
}

.icon-yishu:before {
  content: "\f81f";
}

.icon-bofang:before {
  content: "\f820";
}

.icon-tupian:before {
  content: "\f821";
}

.icon-xiangpian:before {
  content: "\f822";
}

.icon-lianxu:before {
  content: "\f823";
}

.icon-bianji:before {
  content: "\f824";
}

.icon-shipin:before {
  content: "\f825";
}

.icon-muying:before {
  content: "\f826";
}

.icon-qingjie:before {
  content: "\f827";
}

.icon-bangong:before {
  content: "\f828";
}

.icon-xiangbao:before {
  content: "\f829";
}

.icon-chuju:before {
  content: "\f82a";
}

.icon-meishi:before {
  content: "\f82e";
}

.icon-shipin1:before {
  content: "\f82f";
}

.icon-jiushui:before {
  content: "\f830";
}

.icon-shengxian:before {
  content: "\f831";
}

.icon-huwai:before {
  content: "\f832";
}

.icon-fangchan:before {
  content: "\f833";
}

.icon-jinrong:before {
  content: "\f834";
}

.icon-xianhua:before {
  content: "\f835";
}

.icon-lvhua:before {
  content: "\f836";
}

.icon-dianpu:before {
  content: "\f837";
}

.icon-pinpai:before {
  content: "\f838";
}

.icon-wode:before {
  content: "\f839";
}

.icon-kanjia:before {
  content: "\f83a";
}

.icon-jiazhuang:before {
  content: "\f83b";
}

.icon-chongwu:before {
  content: "\f83c";
}

.icon-rili:before {
  content: "\f83d";
}

.icon-yule:before {
  content: "\f83e";
}

.icon-yiliao:before {
  content: "\f83f";
}

.icon-jianshen:before {
  content: "\f840";
}

.icon-jipiao:before {
  content: "\f841";
}

.icon-baoxian:before {
  content: "\f842";
}

.icon-anzhuang:before {
  content: "\f843";
}

.icon-weixiu:before {
  content: "\f844";
}

.icon-ershou:before {
  content: "\f845";
}

.icon-dianying:before {
  content: "\f846";
}

.icon-jiudian:before {
  content: "\f847";
}

.icon-kefu:before {
  content: "\f848";
}

.icon-youxi:before {
  content: "\f849";
}

.icon-gouwuche:before {
  content: "\f84a";
}

