/*
设置禁止出现滚动条：

1、样式表方法

在里加入style="overflow-x:hidden"，可隐藏水平滚动条；

加入style="overflow-y:hidden"，可隐藏垂直滚动条。

被包含页面里加入
*/
html { overflow-x:hidden; }
/*
2、另一种方法

body {
overflow-x:hidden;

overflow-y:hidden;

}

设置不出现滚动条但可以滚动：

css隐藏滚动条

自定义滚动条的伪对象选择器::-webkit-scrollbar

chrome 和Safari.element::-webkit-scrollbar { width: 0 !important }

IE 10+.element { -ms-overflow-style: none; }

Firefox.element { overflow: -moz-scrollbars-none; }

*/



/* 不能被选取
文字 图片
-moz-user-select:none;
-webkit-user-select:none;
user-select:none;   
*/